In [19]:
import re
import requests
from bs4 import BeautifulSoup
import time
import pandas as pd
import numpy as np

In [2]:
h=time.strftime("%H:%M:%S")
f=time.strftime("%d/%m/%y")

In [3]:
f'{f}, {h}'

'02/11/20, 17:29:17'

In [4]:
url = 'https://www.reuters.com/markets/currencies'
req = requests.get(url)
req

In [5]:
req.content[:300]

b'<!DOCTYPE html><html lang="en"><head><meta name="viewport" content="width=device-width"/><meta charSet="utf-8"/><meta http-equiv="X-UA-Compatible" content="IE=edge"/><meta http-equiv="x-dns-prefetch-control" content="on"/><meta name="robots" content="index, follow"/><meta name="twitter:site" content'

In [6]:
sopa = BeautifulSoup(req.content, "html.parser")

In [7]:
currency_name=sopa.find_all('td', {'class':'MarketsTable-name-1U4vs'})

In [8]:
currency_last= sopa.find_all('td', {'class':'MarketsTable-last-1ORGC'})

In [9]:
currency_netchange= sopa.find_all('td', {'class': 'MarketsTable-net_change-1ZX13'})

In [10]:
currency_percentchange= sopa.find_all('td', {'class': 'MarketsTable-percent_change-2HcuU'})

In [11]:
currency_name_text=[i.text for i in currency_name]
currency_last_text=[i.text for i in currency_last]
currency_netchange_text=[i.text for i in currency_netchange]
currency_percentchange_text=[i.text for i in currency_percentchange]

In [12]:
df= pd.DataFrame({'Currency': currency_name_text, 'Last': currency_last_text, 
                 'Change': currency_netchange_text, 'Change%':currency_percentchange_text} )

In [18]:
print('CURRENCY PAIRS USD')
print(f'{f}, {h}')
df

CURRENCY PAIRS USD
02/11/20, 17:29:17

   Currency      Last   Change   Change%
0       EUR    0.8590   0.0001   0.0116%
1       JPY  104.7300   0.0200   0.0191%
2       GBP    0.7742   0.0003   0.0388%
3       CHF    0.9187   0.0000   0.0000%
4       AUD    1.4182   0.0010   0.0706%
5       NZD    1.5083   0.0011   0.0730%
6       CAD    1.3225   0.0010   0.0757%
7       DKK    6.3964  -0.0007  -0.0109%
8       NOK    9.5371  -0.0198  -0.2072%
9       CNY    6.6899   0.0000   0.0000%
10      SEK    8.9019  -0.0011  -0.0124%
11      SGD    1.3651   0.0006   0.0440%
12      MXN   21.3720  -0.0023  -0.0108%
13      RUB   80.1570  -0.1953  -0.2431%